<div class="grid grid-cols-8 grid-rows-8 gap-0">
    <div class="col-span-8">
      <div class="block w-full p-6 bg-white border border-gray-200 rounded-none shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Year {{items.0.year}}</h5>
      </div>
    </div>
    <div class="col-span-8 row-span-7 row-start-2 overflow-y-auto">
      {{#each items as |item|}}
      {{> item-details item}}
      {{/each}}
    </div>
</div>
